# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Python, YAML, JSON, TeX, Markdown
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.tex text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Windows batch files must retain CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.ico binary
